@charset "utf-8";
/**
Project Name : ParsianClip
Designer and Programmer : Seyed Amirhosein Tavousi.
eMail : p30search@gmail.com
**/
body{
 margin-top:0px;
 padding-top:0px;
 font:8pt Tahoma;
 direction:rtl;
 color:#666;
 background-image:url('../images/bg.jpg');
}
input[type=text],[type=password] {
	font:9pt tahoma;
	height:25px;
	padding: 8px;
    border:1px #ccc solid;
    width: 220px;
}
ul,li,p{
	margin:0px;
	padding:0px;
}
.clr{
	clear:both
}
a{
	text-decoration:none;
	color:#333333
}
img {
	border:none;
}
div.header{
	position:relative;
	width:980px;
	height:125px;
	margin:0px auto;
}
a#logo{
	position:absolute;
	top:15px;
	right:0px;
	display:block;
	background:url(../images/logo.png);
	width:268px;
	height:94px;
}
div.menu{
	margin-top:0px;
}
div.menu ul.menu{
	width:980px;
	margin:0px auto;
	background:#CCC;
	border-top:3px #CB5F99 solid;
}
div.menu ul.menu li{
	float:right;
	list-style:none;
	background:#ccc;
	color:#fff;
}
div.menu ul.menu li:hover{
	background:#FFFAD2
}
div.menu ul.menu li a{
	display:block;
	padding:5px;
	border-left:1px solid #FFF
}
li.link_active a{
	background:#86a348;
	color:#FFFFFF
}
.fild{
	font:8pt Tahoma, Geneva, sans-serif;
	padding:2px;
	margin:2px;
	border:1px solid #CCC
}
.rtl{
	text-align:right;
	direction:rtl
}
.ltr{
	text-align:left;
	direction:ltr
}
div.content{
	width:980px;
	font:8pt/1.7 Tahoma, Geneva, sans-serif;
	direction:rtl;
	margin:0px auto;
}

.bt {
	font:8pt Tahoma, Geneva, sans-serif;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.but { 
     width:300px;
	 height:32px; 
	 margin-bottom:10px; 
	 font:9pt tahoma; 
	 padding-right:4px; 
	 color:#999;
}
.bt:hover {
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
}
div.footer{
	width:980px;
	padding:2px;
	margin:10px auto;
	color:#999;
	line-height:20px;
}
::-webkit-scrollbar {
	 background:#fff; width:14px;height:10px;
	  }
::-webkit-scrollbar-thumb {
	 background:#999; box-shadow:inset 0 0 10px #333;
	  }
.clip {
	border:2px #ccc solid;
	}
.clip:hover {
	border:2px #CB5F99 solid;
	}
.group {
   width: 248px;
   max-width: 248px;
   background: #F0F1F1;
   margin: 2px 2px 4px 2px;
   border: 1px solid #DEDEDE;
   border-bottom: 5px solid #DEDEDE;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   max-height:70px;
   float:right;
}
.group:hover {
   background: #FAFAFA;
}
.group .groupinfo {
   float: right;
   width: 150px;
   line-height: 16px;
}
.group .grouptext {
   float: right;
   font-size: 11px;
   color: #999;
   clear: right;
}
.group .groupavatar {
   border-left: 1px solid #D9D9D9;
   float: right;
   margin-left: 10px;
}
table tr td {
	font:9pt tahoma;
}
.tags{
   padding:0;
   margin: 4px 1px 25px 10px;
   list-style:none;
}
.tags li, .tags a{
   float:right;
   height:24px;
   line-height:24px;
   position:relative;
   font-size:11px;
   margin-bottom: 3px;
}
.tags a{
   margin-left:18px;
   padding:0 10px 0 12px;
   background:#0089e0;
   color:#fff;
   text-decoration:none;
   -moz-border-radius-bottomright:4px;
   -webkit-border-bottom-right-radius:4px;	
   border-bottom-right-radius:4px;
   -moz-border-radius-topright:4px;
   -webkit-border-top-right-radius:4px;	
   border-top-right-radius:4px;	
} 
.tags a:before{
   content:"";
   float:left;
   position:absolute;
   top:0;
   left:-12px;
   width:0;
   height:0;
   border-color:transparent #0089e0 transparent transparent;
   border-style:solid;
   border-width:12px 12px 12px 0;		
}
.tags a:after{
   content:"";
   position:absolute;
   top:10px;
   left:0;
   float:left;
   width:4px;
   height:4px;
   -moz-border-radius:2px;
   -webkit-border-radius:2px;
   border-radius:2px;
   background:#fff;
   -moz-box-shadow:-1px -1px 2px #004977;
   -webkit-box-shadow:-1px -1px 2px #004977;
   box-shadow:-1px -1px 2px #004977;
}
.tags a:hover{background:#00709a;}	
.tags a:hover:before{border-color:transparent #00709a transparent transparent;}
#tozih{
   background: #ffd157 url('../images/box-black.png') no-repeat right center;	
   padding: 20px 100px 20px 40px;
   height: auto;
   text-align: justify;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   margin-bottom: 3px;
}
#upload{
   background: #ffd157;	
   padding: 20px 20px 20px 20px;
   height: auto;
   text-align: justify;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   margin-bottom: 3px;
}
#tozih:hover{
   background-color: #ffca3e;
}
#terms{
   background: #ffd157 url('../images/block.png') no-repeat right center;	
   padding: 20px 100px 20px 40px;
   height: auto;
   text-align: justify;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   margin-bottom: 3px;
}
#terms:hover{
   background-color: #ffca3e;
}
#tozih2{
   background: #282828 url('../images/version-ha2.png') no-repeat right center;	
   padding: 20px 100px 20px 40px;
   height: auto;
   text-align: justify;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   margin-bottom: 5px;
   color: #e3e3e3;
}
#tozih2:hover{
   background-color: #1d1d1d;
   color: white;
}
::selection {
 	color: #fff;
 	text-shadow: none;
 	background: #444;
}
::-moz-selection {
 	color: #fff;
 	text-shadow: none;
 	background: #444;
}
#containerbox {
	position: fixed;
	width: 370px;
	height: 270px;
	background: #F5F7F8;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}
#lower {
	background: #ecf2f5;
	height: 69px;
	margin-top: 20px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.avail{ background-color:#86A348; }
.exists{ background-color:#CB5F99; }
.warning { background-color:#FFCA3E; }
/**** پروفایل *****/

#container, #containertop	{
		width:980px; 
		text-align: justify;"
		margin: 0 auto;
		direction:ltr;
		margin-bottom:0px;
}
.borderclass { border:1px solid #A9B6D2; }
.item {
  border-radius: 4px;
  width: 468px;
  margin: 10px;
  float: right;
  margin-top:10px;
  background-color:#ffffff;
  border:solid 1px #C4CDE0;
}
.item img:hover {
   opacity:0.8;
}
.item:hover {
	  border:solid 1px #97A4C2;
}
.topbox {
   margin: 10px;
   margin-top: 10px;
   background-color: white;
   border: solid 1px #B4BBCD;
}
.item div, .topbox div {
   padding:8px;	
}
.rightCorner { 
    background-image: url(../images/profile/right.png);
    display: block;
    height: 15px;
    margin-left: 468px;
    margin-top: 8px;
    padding: 0;
    vertical-align: top;
    width: 13px;
    z-index:2;
	position: absolute;
}
.leftCorner{
   background-image: url(../images/profile/left.png);
   display: block;
   height: 15px;
   width: 13px;
   margin-left: -13px;
   margin-top: 8px;
   position: absolute;
   z-index:2;
}
.timeline_container{
    width: 16px;
    text-align: center;
    margin: 0 auto;
	display: block;
    }
    .timeline{
    margin: 0 auto;
	background-color:#C3CCDF;
    display: block;
    float: left;
    height: 100%;
    left: 488.3px;
    position: absolute;
    width: 4px;
	padding-bottom:29px;
    }
    .timeline:hover{
    }
    .timeline div.plus{
    width: 14px;
    height: 14px;
    position: relative;
    left: -6px;
    }
h1{
	 font-family: 'Georgia',Times New Roman;
}
.deletebox
{
   font-weight:bold;
   float:right;
   text-decoration:none;
   margin:8px 10px 8px 10px;
   color:#cc0000
}
.act {
	direction:rtl;
	background-color:#EDEFF4;
	margin-top:5px;
	margin-bottom:0px;
	height:13px;
	font:8pt tahoma;
	margin: 0px 3px 3px 3px;
	}
	.act1 {
	direction:rtl;
	background-color:#EDEFF4;
	margin-top:5px;
	margin-bottom:0px;
	height:13px;
	font:8pt tahoma;
	margin: 0px 3px 3px 3px;
	background-image:url(../images/profile/like.png);
	background-repeat:no-repeat; background-position:right;
	}
	.comment {
	direction:rtl;
	background-color:#EDEFF4;
	margin-top:5px;
	margin-bottom:0px;
	font:8pt tahoma;
	height:32px;
	margin: 0px 3px 3px 3px;
	}
	.comment:hover {
		 opacity:0.8; 
		 }
	.boxp { 
	height:94px; 
	width:135px;
	 background-color:#CCC; 
	 border-radius: 3px;
	 float:left; 
	 margin-left:15px;
	 margin-right:5px;
	background: #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding:5px;
	border:1px #ccc solid;
	 }
	.date { position: fixed; margin-left: 1080px; margin-top: 20px; float: right;}
	.date:hover { text-decoration: underline;}
	.a { text-decoration: none;}
	.datebox { width: 5px; height: 22px; background: #c8d0e0; float: left; }
	.datebox:hover {background: #a5b2cf;}
#popup{ 
display: block;width: 408px;
float: left;margin-top:10px;
background-color:#ffffff;
border:solid 1px #A9B6D2;
min-height:60px;display:none;
position:absolute;margin:10px;
}
header{
   margin:0 auto;
   width:978px;
   height:150px;
   border:1px solid #c3ccdf;
   border-bottom:3px solid #c3ccdf;
   border-radius:2px;
   background-color:#FFF;
}
select {
-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-moz-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
-webkit-appearance: none;
-webkit-padding-end: 20px;
-webkit-padding-start: 14px;
-webkit-user-select: none;
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAL0lE…EsBs9m5sKhHgLd04SX6hXQIV7RCE9bbGHNY04h1PKGpAGy4V0EacAtlEAAAAASUVORK5CYII="), -webkit-linear-gradient(#fafafa, #dcdcdc);
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAL0lE…EsBs9m5sKhHgLd04SX6hXQIV7RCE9bbGHNY04h1PKGpAGy4V0EacAtlEAAAAASUVORK5CYII="), -moz-linear-gradient(#fafafa, #dcdcdc);
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAL0lE…EsBs9m5sKhHgLd04SX6hXQIV7RCE9bbGHNY04h1PKGpAGy4V0EacAtlEAAAAASUVORK5CYII="), -ms-linear-gradient(#fafafa, #dcdcdc);
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAL0lE…EsBs9m5sKhHgLd04SX6hXQIV7RCE9bbGHNY04h1PKGpAGy4V0EacAtlEAAAAASUVORK5CYII="), -o-linear-gradient(#fafafa, #dcdcdc);
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAAL0lE…EsBs9m5sKhHgLd04SX6hXQIV7RCE9bbGHNY04h1PKGpAGy4V0EacAtlEAAAAASUVORK5CYII="), linear-gradient(#fafafa, #dcdcdc);
background-position: 7px, left center;
background-repeat: no-repeat, repeat;
border-radius: 3px;
border: 1px solid #a0a0a0;
font: 11px tahoma;
font-weight: 400;
outline: 0;
padding-bottom: 3px;
padding-top: 3px;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
width: 240px;
}
.setselect {
padding: 5px;
width: 250px;
}
textarea.setinp {
padding: 5px;
width: 300px;
height: 40px;
font: 12px tahoma;
border: 2px solid #e4e4e4;
-webkit-border-radius: 4px;
-moz-border-radius: 5px;
border-radius: 4px;
outline: 0px;
}
#form_book {
width: 360px;
height: 395px;
float: right;
margin-top: 15px;
margin-right:42px;
border: 1px solid #ddd;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 2px 1px #D7D7D7;
background: url(../images/big_book.png) no-repeat;
}
.email_us_rightNow {
padding-right: 13px;
padding-top: 45px;
}
.fileds_form {
padding-right: 50px;
}
.div_field {
float: right;
position: relative;
}
#name_field {
width: 88px;
height: 22px;
padding-right: 23px;
padding-top: 3px;
padding-bottom: 4px;
padding-left: 3px;
border: none;
background: url(../images/sprite2.png) -310px -366px;
margin-left: 8px;
}
#tel_field {
width: 108px;
height: 22px;
padding-right: 25px;
padding-top: 3px;
padding-bottom: 4px;
padding-left: 3px;
border: none;
background: url(../images/sprite2.png) -310px -398px;
}
#mail_field {
background: url("../images/sprite2.png") repeat scroll -310px -430px transparent;
border: medium none;
height: 22px;
padding: 3px 30px 4px 5px;
width: 221px;
}
#desc_field {
border: medium none;
height: 90px;
padding: 5px;
width: 241px;
border:2px #ccc solid;
}
#hov {
	opacity:0.7;
}
#hov:hover {
	opacity:1.0;
}
/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
}
#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(../images/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}
/**********************************/
.gips-container
{
    height: 70px;
    width: 252px;
    position: absolute;
}
.gips-body
{
    color: White;
    font: 8pt tahoma;
    width: 220px;
    height: 39px;
    padding: 10px;
    padding-right:35px;
    position: relative;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
	left:5px;
}
.gips-body.purple
{
    background-color: #D22769;
}

.gips-body.yellow
{
    background-color: #D5AF1C;
}
.gips-body.red
{
    background-color: #CB2026;
}
.gips-body.green
{
    background-color: #72A159;
}
.gips-close
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 90%;
}
.gips-icon
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    position: absolute;
	left:0px;
}
/*icon at the bottom */
.gips-icon-bottom
{
    margin-left: 12px;
}
.gips-icon-bottom.purple
{
    border-color: #D22769 transparent transparent transparent;
}
.gips-icon-bottom.red
{
    border-color: #CB2026 transparent transparent transparent;
}
.gips-icon-bottom.yellow
{
    border-color: #D5AF1C transparent transparent transparent;
}
.gips-icon-bottom.green
{
    border-color: #72A159 transparent transparent transparent;
}

/*icon at the top*/

.gips-icon-top
{
    margin-left: 12px;
}
.gips-icon-top.purple
{
    border-color: transparent transparent #D22769 transparent;
}
.gips-icon-top.red
{
    border-color: transparent transparent #CB2026 transparent;
}
.gips-icon-top.yellow
{
    border-color: transparent transparent #D5AF1C transparent;
}
.gips-icon-top.green
{
    border-color: transparent transparent #72A159 transparent;
}
/*icon at the left*/

.gips-icon-left
{
    margin-top: 12px; /*   float: left;*/
}
.gips-icon-left.purple
{
    border-color: transparent #D22769 transparent transparent;
}
.gips-icon-left.red
{
    border-color: transparent #CB2026 transparent transparent;
}
.gips-icon-left.yellow
{
    border-color: transparent #D5AF1C transparent transparent;
}
.gips-icon-left.green
{
    border-color: transparent #72A159 transparent transparent;
}
/*icon at the right*/

.gips-icon-right
{
    margin-top: 12px;
}
.gips-icon-right.purple
{
    border-color: transparent transparent transparent #D22769;
}
.gips-icon-right.red
{
    border-color: transparent transparent transparent #CB2026;
}
.gips-icon-right.yellow
{
    border-color: transparent transparent transparent #D5AF1C;
}
.gips-icon-right.green
{
    border-color: transparent transparent transparent #72A159;
}
/*********************************************/
#vem {
	padding:5px;
	 background:#CB5F99;
	 color:#fff;
	 background-image:url(../images/like.png);
	 background-repeat:no-repeat;
	 background-position:right; 
	 padding-right:27px;
}
#vdl {
	padding:5px; 
	background:#477E84;
	color:#fff;
	margin-bottom:2px; 
	margin-top:2px;
	background-image:url(../images/Download-icon.png);
	background-repeat:no-repeat; 
	background-position:right;
}
#vre {
	padding:5px; 
	background:#1D8BB4;
	color:#fff;
	margin-bottom:2px;
	background-image:url(../images/report.png); 
	background-repeat:no-repeat; 
	background-position:right;
}
.ecld_video {
	display:none;
	float:left;
	background:#477E84; 
	padding-right:4px; 
	padding-left:4px; 
	margin-left:2px;
}
#num {
	float:left; 
	background:#477E84; 
	padding-right:4px; 
	padding-left:4px;
}